<tbody>
  <tr>
    <td>
      <p class='mb-0'><%= topic.user_name %></p>
    </td>
    <td>
      <%= simple_format(topic.title, {}, wrapper_tag: "strong") %>
    </td>
    <td>
      <div class="row">
        <%- topic.tags.each do |tag| %>
          <div class="mr-2 mb-1 btn btn-outline-warning btn-sm">
            <%= tag.name %>
          </div>
        <% end %>
      </div>
    </td>
    <td>
      <%= topic.created_at.strftime('%Y-%m-%d') %>
    </td>
  </tr>
</tbody>