<header class="mb-auto">
  <nav class="navbar navbar-light bg-warning">
    <div class="container">
      <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do%>
        <strong class="text-light">金策メソッド</strong>
      <% end %>
      <form class="form-inline">
        <button class="btn btn-outline-light font-weight-bold mx-3" type="button">新規登録</button>
        <button class="btn btn-outline-light font-weight-bold mx-3" type="button">ログイン</button>
      </form>
    </div>
  </nav>
</header>